.body-fadeout {
  position: absolute;
  z-index: 1010;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  display: none;
}

.is-faded-out {
  display: block;
}

body {
  height: 100%;
  min-height: 100%;
}

.weather-container {
  border: 1px solid blueviolet;
  height: 600px;
  max-width: 700px;
  margin: auto;
  /* height: calc(100% - 164px);
	min-height: calc(100% - 164px); */
}

#app-header {
  text-align: center;
  margin: 15px;
}

.toolbar {
  height: 20px;
  border-top: 1px solid blueviolet;
  border-bottom: 1px solid blueviolet;
  padding: 10px;
}

.left-items {
  float: left;
}

#city-search {
  margin-left: 10px;
}

.climate-filters {
  float: right;
  display: inline-flex;
}

.content {
  padding: 10px;
  height: calc(100% - 155px);
  max-height: calc(100% - 155px);
  overflow: auto;
  position: relative;
}

#card-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin-bottom: 20px;
  padding-left: 0px;
}
.card {
  height: 120px;
  width: 150px;
  border: 1px solid blueviolet;
  border-radius: 12%;
  list-style: none;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 16px;
}

/* sm:grid-cols-2 (≥640px) */
@media (min-width: 640px) {
  #card-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
  .card {
    margin-bottom: 32px;
  }
}

/* lg:grid-cols-3 (≥1024px) */
@media (min-width: 1024px) {
  #card-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }
  .card {
    margin-bottom: 32px;
  }
}

.card-details {
  height: 33.33%;
}

.modal-card-details {
  height: 25%;
}

#cityName {
  font-weight: 300px;
}

#temp {
  text-align: right;
  font-weight: bold;
  font-size: 18px;
}

#climateType {
  font-weight: 300px;
}

.footer {
  padding: 10px;
}

#nextButton {
  float: right;
}

.card-modal {
  height: 250px;
  width: 250px;
  top: 50%;
  left: 50%;
  z-index: 1011;
  border: 1px solid black;
  position: absolute;
  transform: translate(-50%, -50%);
  opacity: 0;
  display: none;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

.is-modal-visible {
  display: block;
  opacity: 1;
}

#modal-close {
  float: right;
}

.card-modal-details {
  height: calc(100% - 22px);
  float: left;
  box-sizing: border-box;
}

.selected {
  background-color: lightblue;
}
